<!-- Footer -->
<footer>
    <div class="row justify-content-evenly bg-dark text-white pt-5" style="padding-bottom: 100px;">
      <div class="col-md-3 p-3">
        <h2 class="pb-4">Transferz</h2>
        <p>Porter!</p>
         <p> Send anything, anywhere, anytime</p>
      </div>
  
      <div class="col-md-3 pt-4">
        <h5 class="pb-2 h3">Address</h5>
        
         <p>we have branches all over in india so feel free to get help from us</p>
         <p>Current Location :  New Delhi,India</p>
      </div>
    </div>
  </footer>
</body>
  
